<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:30</td>        <!-- time    -->
        <td>Pre workshop set up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:00</td>        <!-- time    -->
        <td>Project Management With RStudio</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>14:15</td>        <!-- time    -->
        <td>Introduction to R and RStudio</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>15:15</td>        <!-- time    -->
        <td>Seeking Help</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:30</td>        <!-- time    -->
        <td>Analyzing Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>16:00</td>        <!-- time    -->
        <td>Creating functions</td>        <!-- content -->
      </tr>
  <tr>               <!-- row 9   -->
        <td>16:30</td>        <!-- time    -->
        <td>Analyzing Multiple Data Sets</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>14:00</td>
        <td>Data frame Manipulation with dplyr</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:00</td>        <!-- time    -->
        <td>Data Wrangling with dplyr and tidyr</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>14:00</td>        <!-- time    -->
        <td>Data Visualisation with ggplot2</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:00</td>        <!-- time    -->
        <td>Data Visualisation with ggplot2</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>16:00</td>        <!-- time    -->
        <td>Open session for questions and discussion of the graph gallery</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
