<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:30</td>        <!-- time    -->
        <td>Pre workshop set up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html">Project Management With RStudio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>14:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Introduction to R and RStudio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>15:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>15:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html">Seeking Help</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html">Analyzing Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>16:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html">Creating functions</a></td>        <!-- content -->
      </tr>
  <tr>               <!-- row 9   -->
        <td>16:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/03-loops-R/index.html">Analyzing Multiple Data Sets</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>14:00</td>
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html">Analyzing data</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Data Wrangling with dplyr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:45</td>        <!-- time    -->
        <td>5 minutes question break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:50</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Data Wrangling with dplyr and tidyr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16:50</td>        <!-- time    -->
        <td><a href="">Post-session survey</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>14:00</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-r/04-data-viz-ggplot/index.html">Data Visualisation with ggplot2</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-r/04-data-viz-ggplot/index.html">Data Visualisation with ggplot2</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>16:00</td>        <!-- time    -->
        <td>Open session for questions and discussion of the graph gallery</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
